<title>
  Create Contest
</title>

<h1>
  Generate New Contest
</h1>

<%= form_with scope: :contest, url: contests_path, local: true do |form| %>
<p>
  <%= form.label :"Contest Name"%><br>
  <%= form.text_field :NameofContest %>
</p>

<p>
  <%= form.label :"Level of Contest" %><br>
  <%= form.text_field :ContestLevel %>
</p>

<p>
  <%= form.label :"Contest Location"%><br>
  <%= form.text_field :ContestLocation %>
</p>

<p>
  <%= form.label :"Number Of Players"%><br>
  <%= form.text_field :NumberOfPlayers %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
